/* under 720px, stop decreasing font size */
.col-title  {
    margin-bottom: 1px !important;
}
/*  */
@media screen and (max-height: 620px) {
    .container {
        flex-direction: column;
    }
    .card {
        margin: 1vh 1vw !important;  
    }
}
body {
    height: 100% !important;
    margin-top: -8px !important; /* cheap fix lol */
    min-height: calc(100vh - 12vh) !important;
}

.card {
    height: 100% !important;
    width: 88vw !important;
    min-height: 69.6vh !important;
    margin: 1vh 1vw !important;  
}