/* under 720px, stop decreasing font size */
@media screen and (max-height: 720px) {
    body {
        overflow: scroll !important;
    }
    .col-title  {
        margin-bottom: 1px !important;
    }
}

body {
    height: 100% !important;
    min-height: calc(100vh - 12vh) !important;
    overflow: hidden !important;
}

.card {
    height: 100% !important;
    width: 88vw !important;
    min-height: 69.6vh !important;
    margin: 2vh 1vw 1vh !important;
}

.section {
    padding: 2px !important;
}
